<p id="notice"><%= notice %></p>

<h1>Questions</h1>

<table>
  <tbody>
    <% @questions.each do |question| %>
      <tr>
        <td><%= link_to question.title, question %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Question', new_question_path %>
